<!DOCTYPE html>
<html lang="en">
<head>
    <title>ILDS Project Status</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        angular.module('bookApp', [], function($locationProvider)
        {
            $locationProvider.html5Mode(true);
        });

        Ctrl = function($scope, $window, $timeout, $http)
        {
            $scope.reportPerson = 'Liyan';
            $scope.reportType = 'UserStory';

            $timeout(function(){$scope.refreshPage();}, 3600 * 1000);

            $scope.parseReportDateStr = function()
            {
                return Date.parse($scope.reportDateStr);
            }

            $scope.effort = function(collection) {
                return $scope.toDays(collection.usedEffort) + " / " + $scope.toDays(collection.estimatedEffort);
            }

            $scope.percentage = function(collection) {
                return collection.percentage + '%';
            }

            $scope.tickBarPercentage = function(tickBar) {
                return Math.round(tickBar.snd / tickBar.fst * 100);
            }

            $scope.validEffortPercentage = function() {
                return Math.round($scope.totalValuableEffort() / $scope.totalEstimation() * 100);
            }

            $scope.totalValuableEffort = function() {
                return getValidEffort($scope.userStory) +
                        getValidEffort($scope.functionalTesting) +
                        getValidEffort($scope.performanceTesting) +
                        getValidEffort($scope.integrationTesting) +
                        getValidEffort($scope.QSA) +
                        getValidEffort($scope.highLevelDesign) +
                        getValidEffort($scope.documentWriting);
            }

            $scope.totalEstimation = function() {
                return $scope.userStory.estimatedEffort +
                        $scope.functionalTesting.estimatedEffort +
                        $scope.performanceTesting.estimatedEffort +
                        $scope.integrationTesting.estimatedEffort +
                        $scope.QSA.estimatedEffort +
                        $scope.highLevelDesign.estimatedEffort +
                        $scope.documentWriting.estimatedEffort;
            }

            $scope.barColor = function(m, n) {
                return m >= n ? "progress-success" : "progress-warning";
            }

            $scope.toDays = function(n) {
                return Math.round(n / 8 * 100) / 100;
            }

            $scope.refreshPage = function() {
                $window.location.href = "http://192.168.1.100:9191";
            }

            $scope.sonar = function() {
                $http({method: 'JSONP', url: 'http://192.168.1.111:9000/api/resources?callback=JSON_CALLBACK&resource=org.iata:signac&metrics=ncloc,coverage,function_complexity,duplicated_lines_density,critical_violations,major_violations'}).
                        success(function(data) {
                            var msrs = data[0]['msr'];
                            console.log(msrs);
                            $scope.ncloc = findMetric(msrs, 'ncloc');
                            $scope.function_complexity = findMetric(msrs, 'function_complexity');
                            $scope.coverage = findMetric(msrs, 'coverage');
                            $scope.duplicated_lines_density = findMetric(msrs, 'duplicated_lines_density');
                            $scope.critical_violations = findMetric(msrs, 'critical_violations');
                            $scope.major_violations = findMetric(msrs, 'major_violations');
                        });
            }
            $scope.sonar();

            getValidEffort = function(collection) {
                return collection.usedEffort < collection.estimatedEffort ?
                        collection.usedEffort : collection.estimatedEffort;
            }

            findMetric = function(data, key) {
                var retVal;
                angular.forEach(data, function(value){
                    if (value['key'] == key) {
                        retVal = value['val'];
                    }
                });
                return retVal;
            }
        }
    </script>
</head>
<body ng-app="bookApp" ng-init='[MODEL_DATA]' ng-controller="Ctrl">
    <div class="container">
        <div class="row-fluid">
            <div class="span5" style="text-align: center; height: 70px">
                <h1><a href="/">ILDS Project Status</a></h1>
            </div>
            <div class="span2" style="text-align: center; height: 70px">
                <a href="#addReport" role="button" class="btn" data-toggle="modal">+</a>
                <a href="#" class="btn" ng-click="refreshPage()">R</a>
                <a href="#" class="btn" ng-click="sonar()">S</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span7">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="span3">Team Must Activity</th>
                            <th class="span2">Effort (days)</th>
                            <th>Time Slot (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User Story (+ iiNet)</td>
                            <td><b>{{effort(userStory)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(userStory)}">{{percentage(userStory)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Functional Test</td>
                            <td><b>{{effort(functionalTesting)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(functionalTesting)}">{{percentage(functionalTesting)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Performance Testing</td>
                            <td><b>{{effort(performanceTesting)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(performanceTesting)}">{{percentage(performanceTesting)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Integration Testing</td>
                            <td><b>{{effort(integrationTesting)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(integrationTesting)}">{{percentage(integrationTesting)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>QSA Work</td>
                            <td><b>{{effort(QSA)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(QSA)}">{{percentage(QSA)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>High Level Design</td>
                            <td><b>{{effort(highLevelDesign)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(highLevelDesign)}">{{percentage(highLevelDesign)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Document</td>
                            <td><b>{{effort(documentWriting)}}</b></td>
                            <td>
                                <div class="progress progress-success progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': percentage(documentWriting)}">{{percentage(documentWriting)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td colspan="2"><b>Total must effort: <span style="color: dodgerblue">{{toDays(totalValuableEffort())}}</span> days</b></td>
                            <td>
                                <div class="progress {{barColor(validEffortPercentage(), tickBarPercentage(tickBar))}} progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': validEffortPercentage() + '%'}">{{validEffortPercentage() + '%'}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td colspan="2"><b>Until final release we have <span style="color: dodgerblue">{{tickBar.fst - tickBar.snd + 1}}</span> days</b></td>
                            <td>
                                <div class="progress progress-info progress-striped" style="margin-bottom: 0px">
                                    <div class="bar" ng-style="{'width': tickBarPercentage(tickBar) + '%'}">{{tickBarPercentage(tickBar) + '%'}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <b>Bug fixing <span style="color: orangered">{{toDays(bugFixing.usedEffort)}} / {{toDays(bugFixing.estimatedEffort)}}</span> days</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                <b>Over time <span style="color: dodgerblue">{{toDays(overTime.usedEffort)}}</span> days</b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                <b>Leave <span style="color: dodgerblue">{{toDays(leave.usedEffort)}} / {{toDays(leave.estimatedEffort)}}</span> days</b>
                            </td>
                        </tr>
                        <tr class="info">
                            <td colspan="3" style="text-align: center">
                                <h3>Lines of code: <span style="color: limegreen">{{ncloc}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;Coverage: <span style="color: orangered">{{coverage}}%</span></h3>
                                <h3>Critical: <span style="color: orangered">{{critical_violations}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;Major: <span style="color: orangered">{{major_violations}}</span></h3>
                                <h3>Complexity: <span style="color: orangered">{{function_complexity}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;Duplication: <span style="color: orangered">{{duplicated_lines_density}}</span></h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="form-horizontal" action="/report/create" method="post">
            <input type="hidden" name="report_date" value="{{parseReportDateStr()}}"/>

            <div id="addReport" class="modal hide fade" tabindex="-1" role="dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Add Report</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="reportDate">Report Date</label>
                        <div class="controls">
                            <input type="text" id="reportDate" ng-model="reportDateStr" placeholder="Report Date" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Person</label>
                        <div class="controls">
                            <input type="hidden" name="report_person" value="{{reportPerson}}"/>
                            <div class="btn-group">
                                <button class="btn btn-info">{{reportPerson}}</button>
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='Liyan'">Liyan</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='Shaobo'">Shaobo</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='LiBin'">LiBin</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='XuWei'">XuWei</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='Jack'">Jack</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='Jacky'">Jacky</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportPerson='Nancy'">Nancy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Report Type</label>
                        <div class="controls">
                            <input type="hidden" name="report_type" value="{{reportType}}"/>
                            <div class="btn-group">
                                <button class="btn btn-info">{{reportType}}</button>
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a tabindex="-1" href="#" ng-click="reportType='UserStory'">UserStory</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='FunctionalTesting'">FunctionalTesting</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='HighLevelDesign'">HighLevelDesign</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='QSA'">QSA</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='PerformanceTesting'">PerformanceTesting</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='IntegrationTesting'">IntegrationTesting</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='Document'">Document</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='BugFixing'">BugFixing</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='OverTime'">OverTime</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="reportType='Leave'">Leave</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="hours">Hours</label>
                        <div class="controls">
                            <input type="text" id="hours" name="report_hours" placeholder="Hours" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="comment">Comment</label>
                        <div class="controls">
                            <input type="text" id="comment" name="report_comment" placeholder="Comment" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Add</button>
                    <button class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>